<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Run (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,11}</string>
                <key>spriteSize</key>
                <string>{285,467}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{1,1},{285,467}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,8}</string>
                <key>spriteSize</key>
                <string>{287,487}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{1,862},{287,487}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,24}</string>
                <key>spriteSize</key>
                <string>{307,473}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{490,862},{307,473}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,19}</string>
                <key>spriteSize</key>
                <string>{285,459}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{470,1},{285,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,10}</string>
                <key>spriteSize</key>
                <string>{285,469}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{1,288},{285,469}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,7}</string>
                <key>spriteSize</key>
                <string>{285,489}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{472,288},{285,489}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,23}</string>
                <key>spriteSize</key>
                <string>{285,469}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{1,575},{285,469}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,19}</string>
                <key>spriteSize</key>
                <string>{285,469}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{472,575},{285,469}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animations.png</string>
            <key>size</key>
            <string>{964,1170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa50fe4cb03cda3995cfd2a2b1669384:f85e1fa6666fd2750949c6633cefc065:65d70c4203d0677a4c5f1e163fb96a75$</string>
            <key>textureFileName</key>
            <string>animations.png</string>
        </dict>
    </dict>
</plist>
