<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,569}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{0,0},{669,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,569}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{669,0},{669,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,569}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{1338,0},{669,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,569}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{0,569},{669,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,569}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{669,569},{669,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,569}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{1338,569},{669,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,569}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{0,1138},{669,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,569}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{669,1138},{669,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,569}</string>
                <key>spriteSourceSize</key>
                <string>{669,569}</string>
                <key>textureRect</key>
                <string>{{1338,1138},{669,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{2007,1707}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98ae964d6845e32d6ea303dfdb1b5247:485fbf25c5ad2ea4e7e648630b370a41:65d70c4203d0677a4c5f1e163fb96a75$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
